<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p> Hello team!</p>

<!-- 2 helpers given by the gem devise -->
<!-- helper method to see if the user is signed in returns a boolean -->
<% if user_signed_in? %>
 <p>Hello bro! you've signed in</p>
 <%= current_user %>
<% else %>
 <p>please sign up before accessing our web app</p>
 <%= current_user %>
<% end %>

<!-- current user is a helper method grabs the instance of the user correctly logged in -->
Email: <%#= current_user.email %>
<p>id:<%#= current_user.id %></p>


